**/.DS_Store
**/.gradle/
**/.vscode/
**/.idea/
**/gradle/wrapper/
**/gradlew
**/gradlew.bat
**/build/
**/client/
**/mcp/
**/_list.json
!**/mcp/decompile.*
!**/gradle/local-libs/**
!**/gradle/libs.versions.toml